<!-- Parallax Section: Hero -->
<div class="parallax-group parallax-1">
    <img class="parallax-img"
         src="{% static 'images/make it good later.jpg' %}"
         alt="make it good later" />
    <div class="parallax-layer middle-layer"></div>
    <div class="parallax-layer foreground-layer">
        <h1>makeitexist.net</h1>
        <p>
            Bringing your ideas to life.
            <br />
            "Just make it exist first. You can make it good later."
        </p>
    </div>
</div>
